
<!-- Implement this later -->
<!--script>
    window.onscroll = function() {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            console.log('End of feed reached');
        }
    }
</script-->

<div id="post-feed">
  {% for post in posts %}
  <div class="card bg-light post-element" style="margin-top: 50px;">
    <div class="card-body">
      <h4 class="card-title">{{ post.user }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.time|convert_time }}</h6>
      <!--p class="card-text">{{ post.text }}</p-->
      {{ post.html | safe }}

      <h5>Files</h5>
      
      {% for file in post.files %}
        {% if file.ext not in ["mp4", "webm", "avi", "mov", "mp3", "wav", "jpg", "jpeg", "png", "gif", "webp"] %}
          <div><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></div>
        {% endif %}
      {% endfor %}

      <div style="margin-top: 10px;">
      {% for file in post.files %}
        {% if file.ext in ["mp4", "webm", "avi", "mov"] %}
          <div style="display: inline-block; vertical-align: top;">
          {% if post.files | length == 1 %}
          <video controls style="max-width: 680px; height: auto; margin-top:5px;">
          {% else %}
          <video controls style="max-width: 340px; height: auto; margin-top:5px;">
          {% endif %}
    	     <source src="{{ file.url }}" type="video/{{ file.ext }}">
    	     <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
          </video></div>
        {% elif file.ext in ["mp3", "wav"] %}
          <div style="display: inline-block; vertical-align: top; margin-top:5px;">
          <h6>{{ file.name }}</h6>
          <audio controls>
	        <source src="{{ file.url }}" type="audio/{{ file.ext }}">
	        <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
	      </audio> </div>
	    {% elif file.ext in ["jpg", "jpeg", "png", "gif", "webp"] %}
	      <div style="display: inline-block; vertical-align: top; margin-top:5px;">
            <img src="{{ file.url }}" alt="{{ file.name }}"
	          {% if post.files | length == 1 %}
	          style="max-width: 680px; height: auto;">
              {% else %}
	          style="max-width: 340px; height: auto;">
              {% endif %}
	      </div>
        {% endif %}
      {% endfor %}
      </div>

      <h5 style="margin-top: 25px;">Tags</h5>

      {% for tag in post.tags %}
        <a href="/search?query={{ tag }}&page=1" style="margin:0 10px;">{{ tag }}</a>
      {% endfor %}
      
    </div>
  </div>
  {% endfor %}
</div>
